<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Banana API Access Request Form</title>
</head>

<body>
  <form id="contact-new-form" #apiReqForm="ngForm" (ngSubmit)="processForm()">
    <div class="contact-title">
      <div class="row">
        <h1>{{title}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="columns columns-6">
        <p><span class="" data-name="text-228">
            <input [(ngModel)]="newRequest.name" size="40" minlength="3" maxlength="40" minlength="10" class=""
              aria-required="true" placeholder="Full name" value="" type="text" name="text-228" required>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns columns-6">
        <p><span class="" data-name="text-228">
            <input [(ngModel)]="newRequest.company" size="40" minlength="3" maxlength="40" class="" aria-required="true"
              placeholder="Company name" value="" type="text" name="text-228" required />
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns columns-6">
        <p><span class="" data-name="email-322">
            <input [(ngModel)]="newRequest.email" size="40" minlength="3" maxlength="40" class="" aria-required="true"
              placeholder="Company email address" value="" type="email" name="email-322" required>
          </span>
        </p>
      </div>
    </div>

    <div class="row">

      <div class="columns columns-6">
        <p><span class="" data-name="tel-744">
            <input [(ngModel)]="newRequest.tel" size="40" minlength="3" maxlength="20" class="" aria-required="true"
              placeholder="Phone number" value="" type="tel" name="tel-744" required>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns columns-12">
        <p><span class="" data-name="textarea-431">
            <textarea [(ngModel)]="newRequest.description" cols="40" rows="10" minlength="3" maxlength="2000" class=""
              aria-required="true" placeholder="Explain what your purpose is for the API data." name="textarea-431"
              required></textarea>
          </span>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="columns checkboxErrormsg">
        <p><span class="" data-name="checkbox-989">
            <span class="wpcf7-checkbox contact-checkbox" id="checkboxOne">
              <span class="wpcf7-list-item first last">
                <input [(ngModel)]="newRequest.agree" type="checkbox" name="checkbox-989[]"
                  value="I agree to have Banana contact me via email, phone, messengers." required>
                <span class="wpcf7-list-item-label">
                  I agree to have Banana contact me via email, phone, messengers.
                </span>
              </span>
            </span>
          </span>
        </p>
      </div>
    </div>

    <div class="row">
      <div class="columns columns-12 contact-submit">
        <p>
          <input class="wpcf7-submit has-spinner primary" id="submit-button" type="submit" value="Submit"
            [disabled]="!apiReqForm.valid" />
        </p>
      </div>
    </div>
  </form>
  @if(isOK){
  <hr />
  <div id="thanks" class="response-output" aria-hidden="true">{{okMessage}}</div>
  }
  


</body>

</html>